@value theme: "~/styles/theme.module.css";
@value color-accent-1, color-accent-2, color-accent-7, color-white, color-success, color-cyan, font-size-sm, font-leading-sm, spacing-2 from theme;

.alert {
  border-color: color-accent-2;
  border-bottom-width: 1px;
  background-color: color-accent-1;
}

.alert-preview {
  border-color: color-accent-7;
  border-bottom-width: 1px;
  background-color: color-accent-7;
  color: color-white;
}

.alert-inner {
  padding: spacing-2 0;
  font-size: font-size-sm;
  line-height: font-leading-sm;
  text-align: center;
}

.link,
.link-preview {
  text-decoration: underline;
  transition-duration: 200ms;
  transition-property: transition-colors;
  transition-timing-function: transition-timing-default;
}

.link:hover {
  color: color-success;
}

.link-preview:hover {
  color: color-cyan;
}
